.title-staff {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 115%;
    color: #fff;
    background-color: #24b0e0;
    padding: 8px 14px;
    text-align: center;
}

.title-staffheader{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 115%;
    color: #fff;
    padding: 8px 14px;
    text-align: center;
}

