:host ::ng-deep body {
    font: ubuntu;
    background-color: #fffcfc !important;
    }
    
    .header {
        background-color: #369dca;
        color: white;
        height: 300px;
        -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.37);
        -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.37);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.37);
        background-position: top right;
    }
    
    
    .navbar-custom {
        color: #FFFFFF;
        background-color: #256b8a;
        font-weight: bold;
        }
        
    
    .button {
        font-weight: bold;
        color: #ffffff !important;
        padding: 10px;
        box-shadow: 0 3px 0 1px rgba(0,0,0,.2);
        border: 0.15rem solid;
        border-radius: 0.4rem;
        cursor: pointer; 
    }
    
    .button2 {
        font-weight: bold;
        color: #ffffff !important;
        padding: 10px;
        box-shadow: 0 3px 0 1px rgba(0,0,0,.2);
        border: 0.15rem solid;
        border-radius: 0.4rem;
        cursor: pointer; 
        width: 100%;
        height: 50px;
        margin-bottom:10px;
    }
    
    .button.green {
        background-color: #00813e;
        border-color: #8eda55;
    }
    
    .button.red {
        background-color: #ce3535;
        border-color: #da6b58;
    }
    
    .button2.discord {
        background-color: #7289da;
        border-color: #bacaff;
    }
    
    .button2.twitter {
        background-color: #72b1da;
        border-color: #a1d2f3;
    }
    
    #profile {
        background-color: #4770b5;
        background-size: cover;
        background-position: 50%;
        padding: 20px;
        border: 0;
        border-radius: 5px;
        -webkit-box-shadow: 0 .125rem .25rem rgba(0,0,0,.09)!important;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.09)!important;
    }
    
    .avatar {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-shadow: 0 1px 0 2px rgba(0,0,0,.3);
        box-shadow: 0 1px 0 2px rgba(0,0,0,.3);
        background-color: black;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        vertical-align: middle;
        position: relative;
        float: right;
        z-index: 20;
        
    }
    
    .info {
        border-radius: 5px;
        color: #fff;
        padding: 15px 20px;
        width: 75%;
        -webkit-box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
        margin-bottom: 10px;
    }
    
    .title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 115%;
        color: #ffffff;
        background-color: #318dc7;
        padding: 8px 14px;
        letter-spacing: 0.2px;
        text-align: center;
    }
    
    .title-admin {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 115%;
        color: #ffffff;
        background-color: #b52c2c;
        padding: 8px 14px;
        letter-spacing: 0.2px;
        text-align: center;
    }
    
    .alert-green {
    background-color: #40c372;
    color: white;
    font-weight: bold;
    
    }