<app-dashboard></app-dashboard>

<div class="container">

    <div class="row">
        <div class="col-8">
            <div class="card border-1 shadow my-5">
                <div class="title">Sky Client</div>
                <div class="card-body p-4"><b>Sky Client</b> is an Electron application, using the PepperFlash plugin in
                    order to allow the continuation of flash player usage.
                    <hr><b><i class="fab fa-windows"></i> Download on Windows</b><br>
                    <a href="/arc/skyclient/SkyClient-win.exe"><button class="button download" placement="top" ngbTooltip="(SHA256) 6A14E6DBC99081E9B5CF4EF9D678C3C7206B7014D43FC43C46C14E7C56861B93"><i
                                class="fab fa-windows"></i> Windows Download</button></a><br>
                    <b>Please note:</b> Windows may alert you that the application isn't safe - simply press More Info >
                    Run Anyway.
                    <hr><b><i class="fab fa-apple"></i> Download on MacOS</b><br>
                    <a href="/arc/skyclient/SkyClient-mac.dmg"><button class="button download" placement="top" ngbTooltip="(SHA256) A2F6352E383E652C495DC5EDA7EDAC8BF3876936A4CC31B9B39E33A601996A8C"><i class="fab fa-apple"></i> MacOS
                            Download</button></a><br>
                    <b>Please note:</b> You will need to allow installs from unknown developers in your security
                    preferences.
                    <hr>
                    Sky Client contains no malicious or harmful code and serves only the purpose of launching our
                    client. If you'd like to view the source code to verify this, please reach out to <b>Lee or
                        Ellis</b>.
                    If you experience any issues - do not hesitate to contact hotel administration in-game or by joining
                    our <a href=""><b>discord server</b></a>.
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card border-1 shadow my-5">
                <div class="title">Accessing Sky Hotel</div>
                <div class="card-body p-4">The following browsers no longer support flash player as of
                    <b>12/01/2021</b>.<br><br>
                    <li>Google Chrome</li>
                    <li>Microsoft Edge</li>
                    <li>Mozilla Firefox</li>
                    <li>Maxthon</li>
                    <li>Opera</li>
                    <li>Safari</li>

                </div>
            </div>

        </div>