<app-dashboard></app-dashboard>

	<div class="row">
		<div class="container">
		            <div class="col-6" style="margin-right: -60px; margin-bottom: -85px">
		               <div style="margin-right:50px;" class="container">
		                  <div class="card border-1 shadow my-5">
		                     <div class="title-online"><i class="fas fa-signal"></i> ONLINE NOW</div>
		                     <div class="online-box">Lee</div>
		                 </div>
		             </div>
		         </div>
		     </div>
		 </div>

